body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 375px;
    height: 575px;
    border-radius: 20px;
    background-color: #EDF2F4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.screen {
    height: 130px;
    margin-bottom: 15px;
    background-color: #2B2D42;
}

.clear-delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 375px;
    height: 100px;
    margin-bottom: 5px;
}

#clear, #delete {
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    color: #FFF;
    background-color: #8D99AE;
}

#clear:hover, #delete:hover {
    background-color: #c4868d;
}


.number-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: 350px;
}

.number-buttons > div {
    display: flex;
    align-items: stretch;
    gap: 15px;
    height: 100px;
}

.btn {
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    color: #FFF;
    background-color: #8D99AE;
}

.btn:hover {
    background-color: #7e9fbe
}