@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Rubik', sans-serif;;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 375px;
    min-height: 575px;
    border-radius: 20px;
    background-color: #EDF2F4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 1;
    min-height: 130px;
    padding: 10px;
    margin-bottom: 15px;
    color: #FFF;
    background-color: #2B2D42;

    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    font-size: 30px;
    border: 2px solid red;
}

.screen-current {
    font-size: 40px;
    border: 2px solid blue;
}

.clear-delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 375px;
    height: 100px;
    margin-bottom: 5px;
}

#clear, #delete {
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    margin: 0;
    cursor: pointer;
    color: #FFF;
    background-color: #8D99AE;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#clear:hover, #delete:hover {
    background-color: #c4868d;
}


.all-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: 350px;
}

.all-buttons > div {
    display: flex;
    align-items: stretch;
    gap: 15px;
    height: 100px;
}

.btn-num, .btn-operator, .btn-point, .btn-equals {
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #8D99AE;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-num:hover, .btn-operator:hover, .btn-point:hover, .btn-equals:hover {
    background-color: #7e9fbe
}