body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 600px;

    border: 2px solid red;
}

.screen {
    height: 130px;
    margin-bottom: 15px;

    border: 2px solid orange;
}

.clear-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    height: 100px;
}

#clear, #delete {
    width: 200px;
    padding: 20px;
    font-size: 30px;
    margin: 0;
}

#clear {
    background-color: rgb(245, 101, 91);
}

#delete {
    background-color: rgb(86, 168, 235);
}

.number-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: 350px;
}

.number-buttons > div {
    display: flex;
    align-items: stretch;
    gap: 15px;
    height: 100px;
}

.btn {
    width: 100px;
    font-size: 30px;
}
